<div class="inner-content">
  <div id="question_header">
    <h1><%= @question.title %> </h1>
  </div>
  <div class="row">
    <div class="col-md-1" id="vot-pre">
        <% if @question.votes.exists?(user: current_user) %>
          <% @d_vote.each do |d| %>
            <%= link_to question_vote_path(@question.id,d.id), method: :delete do %>
            <h2 class="glyphicon glyphicon-triangle-top d-vote"  ></h2>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to question_votes_path(@question.id), method: 'post' do %>
            <h2 class="glyphicon glyphicon-triangle-top a-vote"></h2>
          <% end %>
        <% end %>
        <h2 class= 'text-center' style="margin-top:-10px; margin-left:10px"><%= @question.votes.count %><h2>
      </div>

     <div class="col-sm-10" id="comentario">
       <div>
         <p><%= @question.description%> </p>
       </div>
           <% @comentarios.each do |com|%>
           <hr>
              <p class="p"> <%=com.descripcion%> </p>
           <%end%>
       <div>
         <%= form_for @comentario, url: question_comentarios_path(@question)  do | f| %>
             <div>
               <%= f.text_area :descripcion, placeholder:"Agregar comentario"%>
               <%= f.hidden_field  :comentable_id %>
               <%= f.hidden_field  :comentable_type %>
             </div>
             <%= f.submit "Comentar", class: "btn btn-primary botocom"%>
         <% end %>
       </div>
     </div>
  </div>

  <div class="row" id="vot-que">
    <h3> <%=@answers.count %> Respuesta(s) </h3>
    <hr>
    <% @answers.each do |ans|%>
    <% if ans.id == nil %>
    <%else %>
      <div class="row">
        <div class="col-md-1" id="vot-pre">
          <% if ans.votes.exists?(user: current_user) %>
            <%ans.votes.each do |v| %>
              <%= link_to question_vote_path(@question.id,v.id), method: :delete do %>
               <h2 class="glyphicon glyphicon-triangle-top d-vote"  ></h2>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to answers_votes_path(ans.id), method: 'post' do %>
                <h2 class="glyphicon glyphicon-triangle-top a-vote"></h2>
            <% end %>
          <% end %>
            <h2 class= 'text-center' style="margin-top:-10px; margin-left:10px"><%= ans.votes.count %><h2>
        </div>
           <div class="col-sm-9" id="comentario">
             <p><%=ans.description%></p>
             <% ans.comentarios.each do |com|%>
             <hr>
                <p class="p"> <%=com.descripcion%> </p>
             <%end%>
             <div>
               <%= form_for @comentario, url: question_comentarios_path(@question)  do | f| %>
                   <div>
                     <%= f.text_area :descripcion, placeholder:"Agregar comentario"%>
                     <%= f.hidden_field  :comentable_id, :value => ans.id %>
                     <%= f.hidden_field  :comentable_type, :value => "Answer" %>
                   </div>
                   <%= f.submit "Comentar", class: "btn btn-primary botocom"%>
               <% end %>
             </div>
           </div>
      </div>
      <hr>
      <%end%>
    <% end %>
  </div>

  <div>
    <%= form_for @answer, url: question_answers_path(@question)  do | f| %>
        <div>
          <h2> Tu Respuesta </h2>
          <%= f.text_area :description%>
          <%= f.hidden_field  :question_id %>
        </div>
        <%= f.submit "Enviar Respuesta", class: "btn btn-primary botores"%>
    <% end %>
  </div>
</div>
