<div class="row">
  <div class= "col-sm-3">
  </div>
  <div class="col-sm-6" id="contsing">
    <h2>Registrarse</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
      </div>

      <div class="field">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", placeholder:"Contraseña" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar contraseña" %>
      </div>

      <div class="actions">
        <%= f.submit "Registrarse", class: "btn btn-primary botonsing"%>
      </div>
    <% end %>
    <p>¿Ya estas registrado? </p>
    <%= render "users/shared/links" %>
  </div>
  <div class= "col-sm-3">
  </div>
</div>
